.song-list{
    display: flex;
    /* align-content: space-around;
    justify-content: center;
    flex-wrap: wrap; */
}

.img{
    margin: 0 auto;
}

.header{
    height: 100px;
    padding-top: 50px;
    font-family: 'Sedgwick Ave', cursive;
}

.song-section{
    font-family: 'Caveat', cursive;
}

body{
    background: url("http://images.huffingtonpost.com/2013-02-12-Weddle_Kirk_001_Nirvana_WEB.jpg") no-repeat center center fixed;
    background-size: cover;
    height: 100vh;
}

.stuff{
    border: solid 3px #18587a;
    border-radius: 10%;
    background-color: #fc624d;
    box-shadow: 10px 10px 5px #363738;
    margin: 10px;
    padding-top: 5px;
    padding-bottom: 5px;
    height: 350px;
    width: 350px;
}

#audio-box{
    background-color: black;
    width: 100%;
}

h1{
    font-size: 100px;
}

h3{
    font-size: 20px;
}